@mainColor: #D08EF5;
@textColor: #57F045;
@colors: #0275d8, #5cb85c, #5bc0de, #f0ad4e, #d9534f;

.prueba(@bg:red) {
    background-color: @bg;
}

.colorear-lista(@colores; @i:1) when (@i =< @colores) {
    .item-@{i} {
        background-color: extract(@colors, @i);
        border: 1px dotted;
    }
    .colorear-lista(@colores, (@i+1))
}

.container {
    width: 70%;
    margin: auto;

    form {
        background-color: @mainColor;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        legend {
            color: @textColor;
            .prueba(#D08EF5)
        }
        fieldset {
        ul{
            .colorear-lista(5) 
        }
    }
    }

}